<h1 class="text-center">
  Capstone Design mid term
</h1>
<iframe src='http://embed.verite.co/timeline/?source=0AikAfT30nvhTdHM4M1NBZ2djajFhMjJicEpWaFlDaXc&font=Bevan-PotanoSans&maptype=toner&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe>
