<ul class="nav nav-list">
  <li class="nav-header"> <a href="#">Navigation</a></li>
  <li class="active"> <a href="#">Nav 1</a></li>
  <li> <a href="#">Nav 2</a></li>
  <li> <a href="#">Nav 3</a></li>
  <li> <a href="#">Nav 4</a></li>
  <li class="divider"></li>
  <li> <a href="#">Nav 5</a></li>
  <li> <a href="#">Nav 6</a></li>
</ul>