<div class="container-fluid">
  <div class="row-fluid row">
    <div class="span2 offset1">
      <div class="well sidebar-nav-fixed ">
        <ul class="nav nav-pills nav-stacked ">
          <li ><a href="#">HOME</a></li>
          <li><%=link_to "NOTICE", notices_path %></li>
          <li><a href="#">BBS</a></li>
          <li><a href="#">GALLERY</a></li>
          <li><a href="#">BLOG</a></li>
          <li class="nav-header">TEAM</li>
          <li><%=link_to "Member Info", members_path%></li>
          <li class="active"><%=link_to "Project Info", projects_path%></li>
          <li><a href="#">Nate Club</a></li>
          <li><a href="#">Google Drive</a></li>
          <li><a href="#">Trello</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
